@import "tailwindcss";

:root {
  --primary: #1e947a;
  --secondary: #0f172a;
  --tertiary: #070d14;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #1e947a;
    --color-secondary: #0f172a;
    --color-tertiary: #1e293b;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft.ttf") format("truetype");
  font-display: swap;
}


@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-up-out {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate3d(0, 1, 0, 1500deg) translateY(-100px);
    opacity: 0;
  }
}

@keyframes fall-in {
  0% {
    transform: rotate3d(0, 1, 0, 1500deg) translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes banner-wave {
  0% {
    transform: rotateX(0deg) translateY(0px) scaleY(1);
  }
  50% {
    transform: rotateX(5deg) translateY(2px) scaleY(1.05);
  }
  100% {
    transform: rotateX(0deg) translateY(0px) scaleY(1);
  }
}

@keyframes wipe-out-left {
  0% {
    clip-path: inset(0% 0% 0% 0%);
    opacity: 1;
  }
  100% {
    clip-path: inset(0% 100% 0% 0%);
    opacity: 0;
  }
}

@keyframes wipe-in-right {
  0% {
    clip-path: inset(0% 100% 0% 0%);
    opacity: 0;
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
    opacity: 1;
  }
}

.animate-bump {
  animation: bump 1.5s infinite ease-in-out;
}

.animate-spin-up-out {
  animation: spin-up-out 1s ease-in forwards;
}

.animate-fall-in {
  animation: fall-in 1s ease-out forwards;
}

.animate-banner-wave {
  animation: banner-wave 2s ease-in-out infinite;
  transform-origin: top center;
}

.animate-wipe-out-left {
  animation: wipe-out-left 0.6s ease forwards;
  z-index: 10;
}

.animate-wipe-in-right {
  animation: wipe-in-right 0.6s ease forwards;
  z-index: 20;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Minecraft", sans-serif;
}

.thumbnail-scroll-preview {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  scrollbar-color: #888 transparent;
}

.thumbnail-scroll-faces-team {
  backdrop-filter: blur(6px);
  scrollbar-color: #fff transparent;
}